/** {*/
	/*margin: 0;*/
	/*padding: 0;*/
/*}*/
html{

}

body {
    font-family: "Segoe UI",sans-serif;

}

h2 {
    font-size: 17px;
    color: #ffffff;
}

h3 {
    font-size: 18px;
    color: #ffffffff;
}

a {
    color: #C00000;
}

a:hover {
    text-decoration: none;
    color: #C00000;
}

/*TOP NAV*/
.top-nav {
    background-color: #1e1e1e;
    font-size: 13px;
}

.top-nav a {
    color: #fff;
    transition: 0.4s;
}

.top-nav a:hover {
    color: #6c757d;
}

.top-nav a i {
    color: #0056b3 !important;
}

.phone {
    color: #C00000;
}

.phone span {
    font-size: 23px;
    font-weight: bold;

}
/*HEADER*/
.logo {
    text-align: center;
}

.header {
    border-bottom: 2px solid black;
}
.search-bar{
    padding: 3px;
    background-color: #fff;
}

.search-bar input{
    border: solid 1px #C00000 !important;
    box-shadow: none;
    border-radius: 8px;
 }

.search-bar input:focus {
    box-shadow: none;
}

.search-bar input::placeholder {
    color: #6c757d;
    font-style: italic;
    font-size: 13px;
}

.search-bar button {
    border-radius: 0 8px 8px 0;
    width: 110%;
}

.search-bar button i {
    font-size: 22px;
}

.btn-cart {
    /*text-align: right;*/
}

.btn-cart button {
    background-color: #C00000;
}


/*MAIN NAV*/
.main-nav {
    background: #f8f8f8;
    transition: 0.4s;
}

.dropdown-toggle::after {
    display:none;
}

.dropdown {
    position: unset;
}

.dropdown-menu{
    padding: 0;
    border: 2px solid #b4c2ca;
    border-top: unset;
    transition: 0.4s;
}

.dropdown-menu li a {
    border-bottom: 1px solid #c1c1c1;
    padding: 12px 0 12px 50px;
    transition: 0.4s;
}
.dropdown-menu li:hover > a {
    color: #ffffff;
    background-color: #C00000;
}


@media only screen and (min-width: 992px) {
    .navbar-hover {position:relative;}
    .navbar-hover .collapse ul li:hover> ul{display:block;}
    .navbar-hover .collapse ul ul{position:absolute;top:101%;left:0;width:100%;display:block;}
    .navbar-hover .collapse ul ul ul{position:absolute;top:-2px;left:100%;width:100%;display:none;border-left: 8px solid #5d656d
    }
}

/*TOP BANNER*/
.top-banner {
    height: 300px;
}

.banner-item {
    padding-bottom: 15px;
}

/*PRODUCT INTRO*/
.pills-red-border {
    border-bottom: 2px solid #C00000;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #C00000;
}



.item {
    border: 1px solid #ddeaf4;
    transition: 0.3s;
    position: relative;
    padding: 5px 15px;
}

.item:hover {
    border: 1px solid #000;
    box-shadow: 0 0 5px 0px grey;
}

.item .p-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.item .p-name {
    font-weight: 600;
    font-size: 14px;
    color: #666666;
    text-decoration: none;
    display: block;
    overflow: hidden;
    height: 40px;
}

.item .p-name:hover {
    color: #C00000;
}

.item .p-cur-price {
    color: #C00000;
    font-size: 16px;
    font-weight: bold;
}

.item .p-old-price {
    color: #6c757d;
    font-size: 12px;
    height: 14px;
}

.item button {
    margin: 10px 0 5px 0;
}

.item .discount-number {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    border: 1px solid #C00000;
    color: #C00000;
    border-radius: 50%;
    background-color: #ffffff;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 15px;
    font-weight: bold;
}

.ads-banner img {
    height: 672px;
}

/*PRODUCT LIST*/
.product-title-nav {
    background-color: #f3f3f3;
}

.product-title {
    display: flex;
    align-items: center;

    height: 55px;
    background-color: #C00000;
    -webkit-clip-path: polygon(0% 0%, 85% 0%, 100% 50%, 85% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 85% 0%, 100% 50%, 85% 100%, 0% 100%);
}

.product-nav ul li{
    list-style: none;
    float: left;
    padding: 0 10px;
    font-size: 13px;
}

.see-all {
    font-size: 13px;
    text-align: right;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
}
/*FOOTER*/
footer {
    background-color: #000000;
    color: #fff;
}

.block {
    font-size: 14px;
}

.block h3 {
    font-size: 15px;
    margin: 30px 0 10px 0;
    padding-bottom: 20px;
    border-bottom: 1px solid #ffffff;
    text-transform: uppercase;
}

.block ul {
    padding-left: 0;
}

.block ul li {
    list-style: none;
}

.footer-bottom {
    color: #ffffff;
    border-top: 1px solid #ffffff;
}

.form-email {
    position: relative;
    padding-bottom: 20px;
}

.btn-email {
    position: absolute;
    right: 0;
    top: 0;
//border: unset;
    background-color: #005cbf;
    border-radius: unset;
}

/*CUSTOM*/
.top-carousel .carousel-inner img {
    max-width:100%;
    max-height:100%;
    width: 634px;
    height: 297px;
}

.carousel-control-next, .carousel-control-prev {
    top: 47.5%;
    bottom: 0;

    width: 30px;
    height: 30px;
    background-color: black;
    color: #fff;
    text-align: center;
    opacity: .5;
}

.top-banner .item {
    padding-bottom: 15px;
}