@media (max-width: 980px)
{
#contact .map{
	width: 100%;
}
#contact .form-box{
	width: 100%;
}
#contact .form-box .form-input {
    width: 80%;
    margin-left: 10%;
    padding-top: 106px;
    padding-bottom: 267px;
    text-align: left;
}
#contact .form-box button {
    margin-top: 36px;
    margin-left: 84px;
}

@media (max-width: 980px)
{
#main-works .works .work{
	width: 100%;
	height: 650px;
}
#main-works img{
	width: 100%;
}
#main-works .work h4 {
    top: -374px;
    font-size: 40px;
}
#main-works .work h5 {
    top: -362px;
    font-size: 40px;
}
}