@media (max-width: 980px)
{
#header .navigation h3{
	font-size: 55px;
}
#header .navigation span{
	font-size: 27px;
}
#content .service h3{
	font-size: 55px;
}
#content .service h5{
	font-size: 30px;
}
#content .service span {
    font-size: 27px;
}
#content .service hr{
	width: 100px;
}

/*========================*/
#main-works .title h3 {
    font-size: 55px;
}
#main-works .title span{
	font-size: 27px;
}
#main-works .title hr{
	width: 100px;
}
/*========================*/
#main-testimonial .title h3{
	font-size: 55px;
}
#main-testimonial .title span{
	font-size: 27px;
}
#main-testimonial .title  hr{
	width: 100px;
}

#main-testimonial .testimonial span{
	    font-size: 20px;
}
#main-testimonial .testimonial .name{
	    font-size: 20px;
}
#main-testimonial .testimonial .local{
	    font-size: 19px;
}
/*==================*/
#pricing .title h3{
    font-size: 55px;
}
#pricing .title span{
	font-size: 27px;
}
#pricing .title hr{
	width: 100px;
}
#pricing .pricing-table .row h5{
	font-size: 30px;
}
#pricing .pricing-table h3{
	font-size: 60px;
}
#pricing .pricing-table .row h4{
	font-size: 23px;
}
#pricing .pricing-table span {
    font-size: 30px;
}

}
