/*==Reset CSS==*/
* {
  margin: 0;
  padding: 0;
}
/*===thanh phan co dinh===*/
#tpcodinh{
	position: fixed;
	width: 100%;
}
/*=hearder=*/
#hearder{
	width:100%;
	height: 75.2px;
	background-color: #069;
}
.logo {
	float:left;
}
.ten{
	float: left;
}
#dangnhap{
	float: right;
	width: 260px;
}
/*menu dang nhap*/
.menudangnhap{
	list-style-type: none;
}
.menudangnhap ul{
	width: 100%;
}
.menudangnhap li{
	display: inline-block;
	width: auto;
}
.menudangnhap a{
	color: white;
}
.icon{
	display: none;
}
/*=========global===========*/
/*menu global*/
/*#global{
	clear:both;
}*/
#global ul{	
	background-color: #069;
	list-style-type: none;
	text-align: center;
	margin: auto;
	overflow: hidden;
	width:40%;
}	
#global li{
	margin: auto;
	display: inline-block;
	width:25.3%;
	line-height: 25px;
	margin-left: -5px;
}
#global a{
	color: #fff;
	text-decoration:none;
	display: block;
}

#global a:hover{
	background-color: #fff;
	color:#000;
}
/*=========Body===========*/
#body{
	clear:both;
}