/* CSS Tạo Menu Cấp 1 */
* {
  margin: 0;
  padding: 0;
}
 
/*==Style cơ bản cho website==*/
body {
  font-family: sans-serif;
  color: #333;
}
#menu ul{
list-style-type: none;
font-family: Arial, san-serif;
width: 100%;
text-align:center;
}
 
#menu ul li{
position:relative;
display:inline-block;
margin-left: -5px;
}
 
#menu ul a{
text-decoration:none;
color:#fff;
display:block;
font-weight:bold;
padding:10px 20px;
background:#000;
}
 
#menu ul a:hover{
background:#555;
}
 
//CSS Tạo Menu Cấp 2
#menu li ul a{
background:#444;
}
 
#menu li ul{
position:absolute;
display:none;
width:200px;
}
 
#menu li:hover ul{
display:block;
}