table{
	border-radius: 12px;
	background: DimGray;
	margin: auto;
	/*border: black solid 5px;*/
}
#pheptinh{
	width: 412px;
	height: 30px;
	font-size: 30px;
	border-bottom: none;
	background:lightgray;
}
#ketqua{
	width: 412px;
	height: 70px;
	font-size: 60px;
	border-top: none;
	
}
.button{
	border-radius: 10px;
	width: 80px;
	height: 70px;
	font-size: 30px;
	background: lightgray;
	box-shadow: 0px 3px #333;
}
.button:hover{
	background:DarkGray; 
}
.buttonlogic{
	border-radius: 6px;
	float: left;
	width:80px;
	height: 30px;
	background: lightgray;
	font-size: 15px;
}
.buttonlogic:hover{
	background:DarkGray;
}
.phimnong{
	border-radius: 10px;
	width: 80px;
	height: 70px;
	font-size: 30px;
	background: IndianRed;
}
.phimnong:hover{
	background:Salmon;
}