/*==========reset=============*/
@import "../fonts/font.css";
body,button{
	font-family: mainfont, arial;
	font-size:13px;
}
body,form,h1,h2,h3,h4,p,button,ul,div{
	margin:0;
	padding:0;
}
:focus {/* remember to define focus styles! */
	outline: 0;
}
table {/* tables still need 'cellspacing="0"' in the markup */
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	font-weight: normal;
	text-align: left;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
a img {
	border: 0;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
a{
	text-decoration:none;
}

*{
	box-sizing: border-box;
	
}
header,a,ul,li,div{
	/*transition: .7s all;*/
}

/*========main css============*/
.wapper{
	max-width: 1200px;
}
#header{
	background-color: #282a2e;
	color: #fff;
	height: 117px;
	padding-top: 40px;
}
#toggle-menu{
	display: none;
}
#header .logotype{
	width: 40%;
	float:left;
	padding-left: 135px;
}
#header .logotype a{
	color: #dededf;
	text-decoration: none;
	font-weight: 500;
	font-size: 24px;
	vertical-align: middle;
	padding-left: 7px;
}
#header .menu{
	float: left;
	padding-top: 8px;
    padding-left: 9px;

}
#header .menu a{
	font-weight: normal;
	font-size: 16px;
	color: #e9eaea;
	text-decoration: none;
}
#header .menu a:hover{
	color: #7fa242;
}
#header .menu li{
	display: inline-block;
	margin: 0 18px;
}

/*=========content==========*/
/*============*/

#content .paralax{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
 }

 #content .paralax-slider{
 	height: 590px;
 	background-image: url('../images/background1.jpg');
}

 #content .paralax-slider .paralax-text{
 	color: #f5f5f5;
 	padding-top: 224px;
    padding-left: 134px;
 }
 .paralax-slider .paralax-text h3{
 	font-weight: 300;
 	font-size: 60px;

 }
 .paralax-slider .paralax-text h4{
 	font-weight: 500;
 	font-size: 40px;
 	line-height: 26px;

 }
 /*==============*/
#services{
	text-align: center;
	background-color: #282a2e;
	color: #e9eaea;
	padding-top: 49px;
}
#services .container{
	padding: 0 9%;
}
#services a{
	padding: 41px 36px;
    background-color: #313338;
    border-radius: 100px;
}
#services .iphone{
	padding: 41px 41px;
}
#services h4{
	font-weight: 300;
	font-size: 36px;
	padding-bottom: 82px;

}
#services h6{
	font-weight: 300;
	font-size: 24px;
    padding-top: 43px;
    margin-bottom: 8px;
}
#services p{
	font-weight: 300;
	font-size: 15px;
	padding-top: 1px;
	padding-bottom: 62px;
}
/*================*/
#doyoulikeit{
	background-color: #4b3f34;
	color: #e9eaea;
}
#doyoulikeit h3{
	padding-top: 146px;
	padding-bottom: 35px;
	padding-left: 137px;
 	font-weight: 300;
 	font-size: 60px;

 }
 #doyoulikeit .purchaise-follow{
 	padding-left: 50px;
 	padding-bottom:158px; 
 }
 #doyoulikeit a{
 	font-weight: 300px;
 	font-size: 18px;
 	padding: 11px 25px;
 	background-color: #b0cd3b;
 	border-radius: 5px;
 	color: #f0f5e0;
 }
 #doyoulikeit .purchaise{
 	margin-left: 85px;
 }
  #doyoulikeit .follow{
 	background-color: #1bbc9d;
 	padding: 11px 39px;
    margin-left: 8px;
 }
 /*===================*/
 #folio{
	text-align: center;
	background-color: #282a2e;
	color: #e9eaea;
	padding-top: 57px;
}
#folio .container{
	padding: 0 8%;
}
#folio h4{
	font-weight: 300;
	font-size: 36px;
}
#folio .container ul{
	margin-bottom: 20px;
}
#folio .container li{
	display: inline-block;
}
#folio .container a{
	font-weight: 300px;
	font-size: 14px;
	color: #c8c9ca;
	padding: 6px 20px;
    background-color: #313338;
}
#folio .container .margin{
	padding:0;
}
#folio .container .row{
	margin:25px 0px;
}
#folio .container .col{
	margin:0px 10px;
	padding: 25px;
	background-color: #313337;
}
#folio .container .clean{
	background-color: #232323;
}

#folio .container h6{
	padding-top: 43px;
	font-weight: 500;
	padding-bottom: 8px;
	font-size: 18px;
	margin: 0px;
}
#folio .container span, .container p{
    padding-top: 20px;
    padding-bottom: 40px;
	font-weight: 300;
	font-size: 14px;
}
#folio .nocontainer p{
	padding: 14px;
    font-size: 16px;
}
#folio .nocontainer img{
	padding-bottom: 45px;
}
 /*===================*/
 #pricing{
	background-color: #4b3f34;
	color: #e9eaea;
}
#pricing .text{
 	color: #f5f5f5;
 	padding-top: 161px;
    padding-left: 135px;
    padding-bottom: 175px
 }
 #pricing .text h3{
 	font-weight: 300;
 	font-size: 60px;

 }
 #pricing .text h4{
 	font-weight: 500;
 	font-size: 40px;
    line-height: 29px;

 }

 /*===================*/
 #opinion{
 	background-color: #282a2e;
 	text-align: center;
 	padding-top: 39px;
 }
 #opinion .padding{
 	padding: 0px 6%;
 }
  #opinion h4{
  	 padding-bottom: 26px;
	font-weight: 300;
	font-size: 36px;
	color: #cacacb;
  }
 #opinion .row{
 	padding-bottom: 46px;
 }
 #opinion .container h5{
 	padding-top: 40px;
 	padding-bottom: 18px;
 	font-weight: 400px;
 	font-size: 20px;
 }
  #opinion .container h6{
 	margin:0;
 	padding: 15px 0;
 	font-weight: bold;
 	font-size: 16px;
 	background-color: red;
 }
  #opinion .container p{
 	padding: 28px 0;
 	line-height: 37px;
 	font-weight: 100;
 	font-size: 16px;
 	padding-bottom: 46px;
 }
#opinion .container a{
 	padding: 10px 26px;
 	font-size: 18px;
 	font-weight: 300px;
 	background-color: red;
 	margin-bottom: 10px;
 	border-radius: 6px;
 }
 #opinion .bgblack{
 	color: #d6d6d6;
 	background-color: #313338;
 	border-radius: 5px;
 	padding-bottom: 30px;
 }
 #opinion .left{
 	margin-right: 16px;
 }
 #opinion .right{
 	margin-left: 16px;
 }
  #opinion .bgwhite{
 	color: #5c5c5c;
 	background-color:#f4f4f4 ;
 	border-radius: 5px;
 	margin: 0 8px;
 	padding-bottom: 30px;
 }
#opinion .client h5{
	font-weight: 500;
	font-size: 17px;
	color: #eaeaea;
    width: 18%;
    margin: 0 auto;
    background-color: #282a2e;
    padding-top: 20px;
    padding-bottom: 46px;
    text-transform: uppercase;
}
#opinion .client hr{
	margin: 0;
	width: 29%;
	position: relative;
}
#opinion .client .left{
	top: 31px;
    left: 10%;
}
#opinion .client .right{
	top: -54px;
    left: 60%;
}
#opinion .client ul{
}
#opinion .client li{
	padding: 0px 25px;
	display: inline-block;
	color: #717171;
	vertical-align: middle;
}
#opinion .client h6{
	margin:0;
	font-size: 14px;
	color: #b0cd3b;
	padding-top: 23px;
	padding-bottom: 64px;
}
 /*===================*/
  #team{
	background-color: #4b3f34;
	color: #e9eaea;
}
#team .text{
 	color: #f5f5f5;
 	padding-top: 163px;
    padding-left: 135px;
    padding-bottom: 175px
 }
 #team .text h3{
 	font-weight: 300;
 	font-size: 60px;

 }
 #team .text h4{
 	font-weight: 500;
 	font-size: 40px;
 	line-height: 25px;

 }
 /*=========================*/
 #skill{
 	text-align: center;
 	background-color: #282a2e;
 	color: #dedede;
 	padding-top: 57px;

 }
 #skill .container{
 	padding: 0 7%;
 }
 #skill h4{
	font-weight: 300;
	font-size: 36px;
	padding-bottom: 53px;
 }
 #skill h5{
 	padding-top: 13px;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 0px;
	
 }
  #skill h6{
	font-weight: 300;
	font-size: 16px;
	    margin: 0;
 }

 #skill .row-skill h5{
	font-weight: 500;
	font-size: 18px;
	color: #eaeaea;
    width: 18%;
    margin: 0 auto;
    background-color: #282a2e;
    padding-top: 48px;
    padding-bottom: 46px;
    text-transform: uppercase;
}
#skill .row-skill hr{
	margin: 0;
	width: 29%;
	position: relative;
}
#skill .row-skill .left{
	top: 58px;
    left: 120px;
}
#skill .row-skill .right{
	top: -57px;
    left: 586px;
}
#skill .row-skill .circle{
	width: 19.5%;;
	float: left;
}
#skill .row-skill .our{
	padding-top: 10px;
	padding-bottom: 181px;
}
 /*=========================*/
   #more{
	background-color: #4b3f34;
	color: #e9eaea;
}
#more .text{
 	color: #f5f5f5;
 	padding-top: 159px;
    padding-left: 128px;
    padding-bottom: 157px;
 }
 #more .text h3{
 	font-weight: 500;
    text-transform: uppercase;
    font-size: 51px;

 }
 #more .text h4{
 	font-weight: 300;
    font-size: 52px;
    padding-top: 4px;

 }
 /*==================*/
 #social{
 	text-align: center;
 	background-color: #282a2e;
 	color: #dededf;
 	padding-top: 57px;
 	padding-bottom: 95px;
 }
 #social .container{
 	padding: 0 8.5%
 }
 #social h4{
	font-weight: 300;
	font-size: 36px;
	padding-bottom: 57px;
 }
 #social h5{
	font-weight: bold;
	font-size: 18px;
	 }
 #social hr {
    margin-top: 8px;
    margin-bottom: -2px;
   }
 #social .left{
 	text-align: left;
 }
 #social .left input{
 	width: 48.6%;
 	height: 35px;
 	float: left;
 	background-color: #222327;
 	border: none;
 	margin-top: 18px;
 	padding-left: 15px;
 }
 #social .left .name{
 	margin-right: 9px;
 }
 #social .left .mail{
 	margin-left: 9px;
 }
 #social .left textarea{
 	width: 100%;
 	height: 140px;
 	background-color: #222327;
 	border: none;
 	resize: none;
 	margin: 18px 0px;
 	padding-left: 15px;
 }
  #social .right{
 	text-align: left;
 }
 #social .right p{
 	width: 53%;
 	font-size: 16px;
 	padding-bottom: 21px;
 }
 #social .right h6{
 	margin:0;
 	font-size: 16px;
 }

 #social button{
 	background-color: #1bbc9d;
 	border: none;
 	width: 105px;
 	height: 35px;
 }
 /*==================*/
   #contacts{
	background-color: #4b3f34;
	color: #e9eaea;
}
#contacts .text{
 	color: #f5f5f5;
 	padding-top: 138px;
    padding-left: 128px;
    padding-bottom: 100px;
 }
 #contacts .text h3{
 	font-weight: 500;
    font-size: 50px;
    text-transform: uppercase;

 }
 #contacts .text h4{
 	font-weight: 300;
    font-size: 50px;
    line-height: 66px;
 }
  #contacts .text ul{
  	padding-top: 10px;
  }

 #contacts .text li{
 	display: inline-block;
 	list-style: none;
 	padding: 8px 12px;
    margin: 10px;
 	color: #4b3f34;
 	background-color: #282a2e;
 	border-radius: 20px;
 	border:2px solid #282a2e;
 } 
 #contacts .text .google{
 	padding: 8px 9px;
 }
 #contacts .text .facebook{
 	padding: 8px 14px;
 }
 #contacts .text li:hover{
 	background-color: #b0cd3b;
 }

 /*=====================*/
 #recent{
 	background-color: #282a2e;
 	text-align: left;
 	padding-top: 59px;
 	padding-bottom: 46px;
 }
 #recent .container{
 	padding: 0 6%;
 }
 #recent .container hr{
 	margin-top: 13px;
 }
 #recent .padding{
 	padding: 0 4%;
 }
 #recent h5{
 	color: #e9eaea;
 	font-size: 18px;
 	text-transform: uppercase;
 }
 #recent .padding p{
 	color: #747474;
 	padding: 0;
 }
  #recent i{
 	color: #b0cd3b;
 }
  #recent u{
 	color: #255d53;
 }
 #recent img{
 	width: 24%;
 }
 /*============footer========*/
 #footer{
	background-color: #222327;
	color: #fff;
	height: 135px;
	padding-top: 48px;
	padding-bottom: 48px;
}
#footer .logotype{
	width: 48%;
	float:left;
	padding-left: 135px;
}
#footer .logotype a{
	color: #d2d2d3;
	padding-left: 5px;
	font-weight: 500px;
	font-size: 24px;

}
#footer .lienlac{
	float: left;
	font-weight: normal;
	font-size: 16px;
	padding-top: 10px;
	padding-left: 3px;

}
#footer .lienlac li{
	display: inline-block;
	margin: 0 18px;
	vertical-align: middle;
}