@media screen and (max-width: 768px){

@media screen and (max-width: 540px){
#header .logotype {
    width: 25%;
    padding-left: 41px;
}
#header .menu li {
    margin: 0 14px;
    }
}
#skill .row-skill .circle {
    width: 32.5%;
    }
#social .left input {
    width: 100%;
}
#social .left .mail {
    margin-left: 0px;
}
#footer .logotype {
    width: 26%;
    padding-left: 53px;
}
#opinion .client .left {
    top: 31px;
    left: 10%;
}
#opinion .client .right {
    top: -72px;
    left: 61%;
}
#skill .row-skill .left {
    top: 57px;
    left: 10%;
}
#skill .row-skill .right {
    top: -57px;
    left: 61%;
}
#skill .row-skill .left {
    top: 65px;
    left: 10%;
}
#skill .row-skill .right {
    top: -68px;
    left: 63%;
}
}
@media screen and (max-width: 540px){
#toggle-menu{
	display:block;
}
#toggle-menu i{
	font-size: 30px;
	color: #bbbbbc;
}
#header .menu-main {
    display: none;
}
 #header .logotype {
    width: 79%;
    padding-left: 10px;
 }
#content .paralax-slider .paralax-text {
    padding-left: 46px;
} 
.paralax-slider .paralax-text h4 {
    line-height: 50px;
}
 #doyoulikeit h3 {
    padding-left: 64px;
}
#doyoulikeit .purchaise {
    margin-left: 5px;
}
#doyoulikeit .follow {
    padding: 4px 30px;
    margin-left: 15px;
}
#doyoulikeit a {
    padding: 4px 25px;
 }
 #pricing .text {
    padding-left: 25px;
}
  #pricing .text h4 {
    line-height: 50px;
}
#opinion .client .left {
    top: 47px;
  }
 #team .text {
    padding-left: 53px;
    }
#team .text h4 {
    line-height: 50px;
}
#skill .row-skill .circle {
    width: 50%;
    float: left;
}

#contacts .text {
    padding-left: 68px
}
#footer .logotype {
    width: 59%;
    padding-left: 18px;
}
#footer{
  padding-bottom: 139px;
}
#recent img {
    width: 49%;
}
#more .text {
    padding-left: 22px;
}
}
@media screen and (max-width: 320px){

#opinion .client .left {
    top: 36px;
    left: 10%;
}
#opinion .client .right {
    top: -85px;
    left: 68%;
}

#content .paralax-slider .paralax-text {
    padding-left: 21px;
    }
#folio .container .col {
    margin: 0px 5px;
    padding: 9px;
}
#folio .container {
    padding: 0 3%;
}
#folio .container a {
    padding: 6px 10px;
    }
}